application:
	catchExceptions: %productionMode%
	errorPresenter: Error
	scanDirs: [%vendorDir%/webovac/core]
	mapping:
		*: 'Webovac\Core\Presenter\*\**Presenter'

session:
	expiration: 14 days
	savePath: %rootDir%/sessions
	cookieDomain: %webovac.core.host%

extensions:
	webovac.core: Webovac\Core\DI\CoreExtension

webovac.core:
	host: %webovac.core.host%
	db:
		driver: %webovac.core.db.driver%
		database: %webovac.core.db.database%
		username: %webovac.core.db.username%
		password: %webovac.core.db.password%

imageStorage:
	data_path: %rootDir%/www/data
	data_dir: data
	default_transform: exact
